<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Alteração Manual</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>
<head>
<body>
<div id="layout" class="page">
    <div class="page_menu_nav">
        <h2 class = "page_menu_title">Menu</h2>
        <a href="./index.html" class="page_menu_nav_buttom">Home</a> 
        <a href="./alteracao_manual.html" class="page_menu_nav_buttom">Alterar Registro</a> 
        <a href="#" class="page_menu_nav_buttom">Consultar Registros</a> 
        <a href="./atualizar_registros.html" class="page_menu_nav_buttom">Scan de Diretório</a> 
        <a href=# class="page_menu_nav_buttom">Ajuda</a> 
    </div>
    <div class="page_content">
        <div>
            <h1 class = "page_content_title_title">Inserir registro manualmente</h1>
                <div class="page_content_box">
                    <form class = "page_content_box_form" action="/enviar" method="post">
                        <input class = "page_content_box_form_input" type="text" placeholder = "Nome do Arquivo" required>
                        <input class = "page_content_box_form_input" type="text" placeholder = "Diretório" required>
                         <input class = "page_content_box_button" type="submit" value="Enviar">
                    </form>
                </div>
        </div>
        <div>
            <h1 class = "page_content_title_title">Inserir registro manualmente</h1>
            <p>Ainda em construção</p><br>
                <div class="page_content_box">
                    <form class = "page_content_box_form" action="/enviar" method="post">
                        <input class = "page_content_box_form_input" type="text" placeholder = "Nome do Arquivo" required>
                        <input class = "page_content_box_button" type="submit" value="Enviar">
                    </form>
                </div>
        </div>
    </div> 
</div>
</body>
</html>
``` 
