<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Registros</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
<head>
    
<div id="layout" class="page">
    <div class="page_menu_nav">
        <h2 class = "page_menu_title">Menu</h2>
        <a href="/" class="page_menu_nav_buttom">Home</a> 
        <a href="{{ url_for('insercao_manual') }}" class="page_menu_nav_buttom">Inserção Manual de Registro</a> 
        <a href="{{ url_for('alteracao_manual') }}" class="page_menu_nav_buttom">Alterar Registro</a> 
        <a href="{{ url_for('tabela_leitura_registros')}}" class="page_menu_nav_buttom">Consultar Registros</a> 
        <a href="{{ url_for('atualizar_registros') }}" class="page_menu_nav_buttom">Scan de Diretório</a> 
        <a href="{{ url_for('ajuda') }}" class="page_menu_nav_buttom">Ajuda</a> 
    </div>
    <div class="page_content">        
        <h1 class = "page_content_title_title"> Informe o diretório</h1>
        <div class="page_content_box">
        <form class = "page_content_box_form" action="/atualizar" method="post">    
            <input class = "page_content_box_form_input" type="text" id = 'diretorio' name = 'diretorio' placeholder="Digite o diretório">
            <button class = "page_content_box_button" type="submit">Enviar</button>
        </form>
    </div>
    </div> 
</div> 
</body>
</html>
