<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Sistema de Registros - PI</h1>
    <p>Sistema para teste de acesso ao banco de dados, inserção de registros e criação da tabela de teste.</p>
    <button onclick="location.href='/arquivos'">Acessar Registros</button>
    <button onclick="location.href='/formulario'">Acessar Formulário de Inserção de Registros</button>
    <button onclick="location.href='/criar'">Criar tabela "arquivos" se ainda não existir</button>
    <button onclick="location.href='/menu_atualizar_arquivos'">Atualizar diretórios</button>
    <button onclick="location.href='/limpar_tabela'">Limpar tabela</button>
</body>
</html>
