<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css"/>
<head>
<body>
    <div id="layout" class="page">
        <div class="page_menu_nav">
            <h2 class = "page_menu_title">Menu</h2>
            <a href="./index.html" class="page_menu_nav_buttom">Home</a> 
            <a href="./alteracao_manual.html" class="page_menu_nav_buttom">Alterar Registro</a> 
            <a href="#" class="page_menu_nav_buttom">Consultar Registros</a> 
            <a href="./atualizar_registros.html" class="page_menu_nav_buttom">Scan de Diretório</a> 
            <a href=# class="page_menu_nav_buttom">Ajuda</a> 
        </div>
        <div class="page_content">
            <div class = "page_content_title">
                <h1 class="page_content_title_title">Sistema de Registros de Diretórios - PI</h1>
                <p class = "page_content_title_info">Sistema para teste de acesso ao banco de dados, inserção de registros e criação da tabela de teste.</p>
            </div>
                <div id="temp_func">
                    <h2 class = "page_content_box_subtitle">Criar Tabelas no Banco (caso não existam)</h2>
                    <p class = "page_content_subinfo">*Função de prototipagem*</p>
                    <button class = "page_content_box_button" onclick="location.href='/criar'">Criar tabelas</button>
                </div>
        </div> 
    </div> 
</body>
</html>
